version: "3.0"
services:
  client:
    container_name: client
    build: ./client
    tty: true
    cap_add:
      - NET_ADMIN
    privileged: true
  server:
    container_name: server
    build: ./server
    cap_add:
      - NET_ADMIN
    privileged: true
